/*Layout*/

body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Header Styles*/
h1{
    font-size: 36px;
    line-height:40px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    padding:20px;
    border-bottom: 4px solid lightblue;
}

/*Select Options Styles*/
.single-player-option,
.multiple-players-option{
    flex: 0 0 180px;
    background: lightblue;
    margin: 25px;
    font-family: 'Indie Flower', cursive;
    font-size:20px;
    line-height: 24px;
    border:none;
    padding:20px;
    cursor:pointer;
}

.single-player-option:disabled,
.multiple-players-option:disabled{
    background-color:#dcebef;
    cursor:not-allowed;
}

.single-player-option img,
.multiple-players-option img{
    width: 50px;
}

.player-options{
    display:flex;
    justify-content: center;
    align-items: center;
}

/*Footer styles*/

.footer-container{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    padding:20px;
    border-top: 4px solid lightblue;
}


/* Lingo layout */

#lingo__layout {
    width: 100%;
    display: none;
}

.lingo__grid,
.guess__grid {
    width: 50%;
}

.grid__row {
    padding-left: 15px;
    padding-right: 15px;
}

.cell {
    display: table-cell;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid grey;
    background-color: blue;
    font-size: 24px;
    width: 75px;
    height: 75px;
    text-align: center;
    vertical-align: middle;
}

.cell--matched {
    background-color: orangered;
}

.cell--semimatched span {
    background-color: yellow;
    border-radius: 50px;
    padding: 25px;
}

.cell.cell--guessed {
    padding: 0;
}

.guess__grid input {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.guess__grid button {
    border-radius: 5px;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
}

.guess__grid button:hover {
    opacity: .8;
    cursor: pointer;
}